.head-wrap{
    font-family: Courier New;
    width: 100%;
    height: 300px; 
    margin-top: -8px;
}
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      header{
          width: 1024px;}
      body{
          width: 1024px;}
      footer{
          width: 1024px;}
      font-size: 18px;
}
 @media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
      header{
          width: 1600px;}
      body{
          width: 1600px;}
      footer{
          width: 1600px;}
      font-size: 25px;
}
.header{
    width: 100%;
    height: 300px; 
    background-image: url("../abc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.header-left{
    flex-basis: 15%;
}
.header-right{
    margin: auto;
    flex-basis: 65%;
    font-size: 37px;
    color: rgb(255, 255, 255);
    align-items: center;
}
.header-right p{
    border: 7px solid;
    border-left: none;
    border-right: none;
    border-color: rgb(248, 248, 248);
    text-align: center;
    margin-top: 60px;
}

.look{
    border: 5px solid black;
    border-left: none;
    border-right: none;
    margin-bottom: 25px;
    text-align: center;
    font-family: Courier, monospace;
    font-size: 25px;
    background-color: wheat;
}
.logo{
    display: flex;
    margin-right: -10px;
    align-items: center;
    
}
.header-right img{
    margin-right: 20px;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 7px;
}
